<nav class="nav">
  <div class="nav__container">
    <div class="nav__link">
      <a href="#" class="nav__link--item active">Link</a>
    </div>
    <div class="nav__link">
      <a href="#" class="nav__link--item">Link</a>
    </div>
    <div class="nav__link">
      <a href="#" class="nav__link--item">Link</a>
    </div>
    <div class="nav__link">
      <a href="#" class="nav__link--item">Link</a>
    </div>
  </div>
</nav>
