<nav class="header__nav">
  <ul class="nav">
    <li class="nav__link">
      <a href="nav__link--item active">Link</a>
    </li>
    <li class="nav__link">
      <a href="nav__link--item">Link</a>
    </li>
    <li class="nav__link">
      <a href="nav__link--item">Link</a>
    </li>
    <li class="nav__link">
      <a href="nav__link--item">Link</a>
    </li>
  </ul>
</nav>
