/*
  Dialog
*/

dialog {
  border: unset;
  left: 50%;
  padding: var(--base__size);
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.33);
  }
}
