/*
  Flex
*/

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--base__size) * -1);

  > [class*=col] {
    --flex: 1;
    --flex__basis: auto;

    flex: var(--flex) 0 var(--flex__basis);
    padding: var(--base__size);

    @media (min-width: 575px) {
      &[class*=--25] {
        --flex__basis: calc(100% / 4);
      }

      &[class*=--33] {
        --flex__basis: calc(100% / 3);
      }

      &[class*=--50] {
        --flex__basis: calc(100% / 2);
      }

      &[class*=--66] {
        --flex__basis: calc(calc(100% / 3) * 2);
      }

      &[class*=--75] {
        --flex__basis: calc(calc(100% / 4) * 3);
      }

      &[class*=--] {
        --flex: 0;
      }
    }
  }
}
