/*
  Flex
*/

[class*=flex] {
  display: flex;

  &[class*=gap] {
    margin: calc(var(--base__size) * -1);
  }

  &[class*=wrap] {
    flex-wrap: wrap;
  }

  &[class*=gaps] {
    > [class*=col] {
      padding: var(--base__size);
    }
  }

  > [class*=col] {
    --flex: 1;
    --flex__basis: auto;

    flex: var(--flex) 0 var(--flex__basis);

    &[class*=--] {
      --flex__basis: 100%;
    }

    @media (min-width: 375px) {
      &[class*=--25],
      &[class*=--33],
      &[class*=--50] {
        --flex: 0;
        --flex__basis: calc(100% / 2);
      }
    }

    @media (min-width: 768px) {
      &[class*=--25],
      &[class*=--33] {
        --flex__basis: calc(100% / 3);
      }
    }

    @media (min-width: 992px) {
      &[class*=--25] {
        --flex__basis: calc(100% / 4);
      }

      &[class*=--33] {
        --flex__basis: calc(100% / 3);
      }

      &[class*=--50] {
        --flex__basis: calc(100% / 2);
      }

      &[class*=--66] {
        --flex__basis: calc(calc(100% / 3) * 2);
      }

      &[class*=--75] {
        --flex__basis: calc(calc(100% / 4) * 3);
      }

      &[class*=--] {
        --flex: 0;
      }
    }
  }
}
