<section class="collections">
  <ul class="collections__list">
    {% for collection in collections %}
      <li class="collections__title">
        <a class="collections__link" href="{{ collection.url }}">{{ collection.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
  {
    "name": "Collections",
    "class": "collections"
  }
{% endschema %}

{% stylesheet %}
  .collections {
    &__list {
    }

    &__title {
    }

    &__link {
    }
  }
{% endstylesheet %}
