<footer class="footer">
  <div class="footer__container">
    {%- unless shop.enabled_payment_types == empty -%}
      <span class="visuallyhidden">Supported payment methods</span>

      <ul>
        {%- for type in shop.enabled_payment_types -%}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    {%- endunless -%}
    <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
    <p>{{ powered_by_link }}</p>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer"
  }
{% endschema %}
