<footer class="footer">
  <div class="footer__container">
    <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
    <p>{{ powered_by_link }}</p>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer"
  }
{% endschema %}
