<header class="header">
  <div class="header__container">
  </div>
  <nav class="nav">
    <div class="nav__container">
      <div class="nav__logo">
        {{ shop.name }}
      </div>
      <input type="checkbox" class="nav__toggle hidden" id="navToggle">
      <label for="navToggle" class="nav__label"></label>
      <div class="nav__menu">
        <div class="nav__link">
          <a href="#" class="nav__link--item active">Link</a>
        </div>
        <div class="nav__link">
          <a href="#" class="nav__link--item">Link</a>
        </div>
        <div class="nav__link">
          <a href="#" class="nav__link--item">Link</a>
        </div>
        <div class="nav__link">
          <a href="#" class="nav__link--item">Link</a>
        </div>
      </div>
    </div>
  </nav>
</header>

{% schema %}
  {
    "name": "header"
  }
{% endschema %}
