<div class="main__container">
  <div class="flex">
    <div class="col--50">
      Test 
    </div>
    <div class="col--50">
      Test 
    </div>
    <div class="col--25">
      Test 
    </div>
    <div class="col">
      Test 
    </div>
    <div class="col">
      Test 
    </div>
    <div class="col--33">
      Test 
    </div>
    <div class="col--33">
      Test 
    </div>
    <div class="col--33">
      Test 
    </div>
    <div class="col--33">
      Test 
    </div>
    <div class="col--25">
      Test 
    </div>
    <div class="col--25">
      Test 
    </div>
    <div class="col--25">
      Test 
    </div>
    <div class="col--25">
      Test 
    </div>
    <div class="col">
      Test 
    </div>
    <div class="col">
      Test 
    </div>
    <div class="col">
      Test 
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "main"
  }
{% endschema %}
