/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  Last updated - April 3rd, 2024
*/

* {
  margin: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/*
  Variables
*/
:root {
  --base__size: 1rem;
  --font__size: var(--base__size);
  --max__width: 960px;
}


/*
  Containers
*/

[class*=container] {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max__width);
  padding: 0 var(--base__size);
}


/*
  Flex grid
*/
.flex {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--base__size) * -1);

  > [class*=col] {
    --flex__basis: auto;
    flex: 1 0 var(--flex__basis);
    min-width: calc(var(--max__width) / 3.375);
    padding: var(--base__size);

    &[class*=--25] {
      --flex__basis: calc(100% / 4);
    }

    &[class*=--33] {
      --flex__basis: calc(100% / 3);
    }

    &[class*=--50] {
      --flex__basis: calc(100% / 2);
    }

    &[class*=--66] {
      --flex__basis: calc(calc(100% / 3) * 2);
    }

    &[class*=--75] {
      --flex__basis: calc(calc(100% / 4) * 3);
    }
  }
}


/*
  Skip to content
*/

.skip {
  &:not(:focus):not(:focus-within) {
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
}


/*
  Nav
*/

.nav {
  padding: var(--base__size) 0;
}

.nav__container {
  @media (min-width: 992px) {
    align-items: center;
    display: flex;
  }
}

.nav__logo {
  font-size: calc(var(--font__size) * 1.7);

  @media (min-width: 992px) {
    margin-right: auto;
  }
}

.nav__toggle {
  @media (max-width: 991.98px) {
    &:not(:checked) {
      ~ .nav__menu {
        display: none;
      }

      ~ .nav__label {
        transform: rotate(90deg);
      }
    }
  }
}

.nav__label {
  @media (max-width: 991.98px) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23000000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: calc(2 * var(--base__size));
    margin: var(--base__size);
    position: fixed;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: calc(2 * var(--base__size));
  }
}

.nav__menu {
  @media (min-width: 992px) {
    display: flex;
  }
}

.nav__link {
  @media (min-width: 992px) {
    margin: 0 calc(var(--base__size) / 2);
  }
}

.nav__link--item {
  display: block;
  padding: calc(var(--base__size) / 2);
  text-align: center;
  text-decoration: none;

  &.active {
    font-weight: 800;
  }
}


/*
  Helpers
*/

.hidden {
  display: none;
}
